<ion-header>
  <ion-navbar>
    <ion-title>개인 식별코드</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item class="code-box" *ngIf="patient">
    <p>{{ patient.fullName }}님의 개인 식별코드</p>
    <h4>{{ patient.code }}</h4>
  </ion-item>
</ion-content>
