page-personal-code {
    .code-box{
        width: 100%;
        padding: 28px 16px 48px !important;
        border-radius: 4px;
        background: color($colors, secondary);
        text-align: center;
        p {
            margin-bottom: 30px;
            font-size: 1.8rem !important;
            font-weight: 700 !important;
        }
        h4 {
            font-size: 3.2rem;
            font-weight: 800;
            letter-spacing: 0.5px;
        }
    }
}
