<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <p class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></p>
    <p class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></p>
  </div>
  <!-- * 설문 답변 -->
  <ion-textarea [placeholder]="survey.placeholder" [(ngModel)]="survey.value" (ionChange)="setValue()"></ion-textarea>
</div>
