survey-textarea1 {
 ion-textarea {
   padding: 16px;
   height: 250px;
   border: 1px solid color($colors, lightgray3);
   border-radius: 4px;

   textarea {
     margin: 0 !important;
     width: 100% !important;
     height: 100% !important;
     resize: none !important;
     font-size: 1.6rem;
   }
 }
 &.h-sm {
   ion-textarea {
     height: 90px;
   }
 }
}
