<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf="findTarget == 'id'">아이디 찾기</span>
      <span *ngIf="findTarget == 'pw'">비밀번호 초기화</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- 아이디 찾기-->
  <div class="find-id-wrapper" *ngIf="findTarget == 'id'">
    <ion-item class="find-noti" text-wrap>
      <p>가입하신 계정 정보를 동일하게 입력해주세요.</p>
    </ion-item>

    <form [formGroup]="findIdForm" (ngSubmit)="findId()">
      <ion-list>
        <ion-item (click)="inputFocus(fullName)" [ngClass]="{'valid' : findIdForm.get('fullName').valid }">
          <ion-label fixed for="fullName">이름</ion-label>
          <ion-input type="text" formControlName="fullName" name="fullName" #fullName></ion-input>
        </ion-item>
        <ion-item class="item-input item-birth" [ngClass]="{'valid' : findIdForm.get('birthday').valid }">
          <ion-label fixed>생년월일</ion-label>
          <ion-row item-content>
            <ion-col>{{findIdForm.controls['birthday'].value.substr(0,4)}}</ion-col>
            <ion-col>{{findIdForm.controls['birthday'].value.substr(5,2)}}</ion-col>
            <ion-col>{{findIdForm.controls['birthday'].value.substr(8,2)}}</ion-col>
          </ion-row>
          <ion-datetime item-content displayFormat="YYYYMMDD" pickerFormat="YYYYMMDD" formControlName="birthday"
            name="birthday" class="birth" cancelText="취소" doneText="확인">
          </ion-datetime>
        </ion-item>
        <ion-item class="item-input item-gender" [ngClass]="{'valid' : findIdForm.get('gender').valid }">
          <ion-label fixed>성별</ion-label>
          <ion-buttons item-content>
            <button type="button" ion-button [ngClass]="{active:findIdForm.get('gender').value === 'male'}"
              (click)="setGender('male')">남자</button>
            <button type="button" ion-button
              [ngClass]="{active:findIdForm.get('gender').value === 'female'}" (click)="setGender('female')">여자</button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <button ion-button full type="submit" class="submit-btn" color="secondary" [disabled]="findIdForm.invalid">확인</button>
    </form>
  </div>

  <!-- 비밀번호 초기화 -->
  <div class="find-pw-wrapper" *ngIf="findTarget == 'pw'">
    <ion-item class="find-noti" text-wrap>
      <p>가입하신 아이디(이메일)와<br>휴대전화 정보를 입력해 주세요.</p>
    </ion-item>

    <form [formGroup]="resetPwForm" (ngSubmit)="resetPassword()"> 
      <ion-list>
        <ion-item [ngClass]="{'valid' : resetPwForm.get('email').valid }" (click)="inputFocus(emailInput)">
          <ion-label fixed>아이디(이메일)</ion-label>
          <ion-input type="email" formControlName="email" name="email" #emailInput (ionChange)="initForm()"></ion-input>
        </ion-item>
        <ion-item class="item-phone-numbers" [ngClass]="{'valid': resetPwForm.get('phone1').valid && resetPwForm.get('phone2').valid &&
          resetPwForm.get('phone3').valid }">
          <ion-label fixed>휴대전화</ion-label>
          <ion-input type="tel" maxlength="3" formControlName="phone1" name="phone1"></ion-input>
          <ion-input type="tel" maxlength="4" formControlName="phone2" name="phone2"></ion-input>
          <ion-input type="tel" maxlength="4" formControlName="phone3" name="phone3"></ion-input>
        </ion-item>
        <div class="noti" [hidden]="!resend">메일이 10분 이내 오지 않을 경우 재전송을 해주세요.</div>
      </ion-list>
      <button ion-button full class="submit-btn" type="submit" color="secondary" [disabled]="resetPwForm.invalid" [hidden]="resend">
        전송하기
      </button>
    </form>
    
    <button ion-button full class="submit-btn" *ngIf="resend" color="secondary" (click)="goLogin();">
      로그인 하러가기
    </button>
    <a class="resend-email" ion-button *ngIf="resend" clear (click)="resetPassword()">재설정 이메일 재발송</a>
  </div>

</ion-content>
