<ion-header>
  <ion-navbar>
    <ion-title>건강체크</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <p>현재 건강 상태를 보다 정확하게 파악하기 위한 설문 조사입니다.</p>
    <div class="grid-btn-wrapper">
      <ion-item>
        <button ion-button full (click)="goSurvey(2)" color="secondary">
          <h2>외상사건 평가</h2>
          <p>소방공무원은 직업 특성상 생명의 위협을 받거나,<br>심각한 상해를 입을 수 있는 외상사건에<br>노출될 수 있습니다.<br>본 설문은 외상사건에 노출된 경험이 있을 경우<br>진행하게 됩니다.</p>
        </button>
      </ion-item>
      <ion-item>
        <button ion-button full (click)="goSurvey(3)" color="lightorange">
          <h2>추적관찰 평가</h2>
          <p>우울, 불안, 스트레스를 추적 관찰하여<br>주기적으로 심리 상태를 점검할 수 있습니다.</p>
        </button>
      </ion-item>
      <ion-item>
        <button ion-button full (click)="goSurvey(1)" color="lightgreen">
          <h2>초기평가</h2>
          <p>임시 메뉴</p>
        </button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>