page-surveys {
    ion-list {
        width: 100%;
        min-height: 100%;
        margin: 0 !important;
        display: grid;
        grid-template-rows: auto 1fr;
        p {
            margin: 0;
            padding: 0 20px;
            font-size: 1rem;
            line-height: 1.5;
        }
        .grid-btn-wrapper {
            display: grid;
            grid-template-rows: repeat(2, minmax(195px, 1fr));
            ion-item {
                margin-top: 16px !important;
                ion-label {
                    height: 100%;
                    button {
                        height: 100% !important;
                        margin: 0 !important;
                        padding: 0 !important;
                        position: relative;
                        border-radius: 4px !important;
                        .button-inner {
                            padding: 22px 16px;
                            display: block;
                            text-align: left;
                            h2 {
                                margin: 0 !important;
                                font-size: 2.4rem;
                                font-weight: 800;
                            }
                            p {
                                width: 100%;
                                height: calc( 100% - 46px );
                                margin-top: 18px;
                                padding: 0;
                                font-size: 1.4rem !important;
                                font-weight: 500 !important;
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }
        }
    }
}
