<div class="survey-wrapper" *ngIf="survey">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <!-- * 날짜/시간 설문 -->
  <!-- * formatType options: date | time12 | time24 -->
  <!-- * optional options : 'true' | 'false' / 설문을 선택하지 않음 -->
  <div class="survey-item">
    <ion-item no-lines no-padding>
      <div class="display-datepicker" item-content>
        <!-- * date -->
        <div *ngIf="format.year">{{survey.value !== survey.optionalText ? survey.value?.substr(0,4) : '' || ''}}년</div>
        <div *ngIf="format.month">{{survey.value !== survey.optionalText ? survey.value?.substr(5,2) : '' || ''}}월</div>
        <div *ngIf="format.date">{{survey.value !== survey.optionalText ?  survey.value?.substr(8,2) : '' || ''}}일</div>
        <!-- *  time12 | time24  -->
        <div *ngIf="format.hour12">
          {{survey.value !== survey.optionalText ?  survey.value?.substr(0,2) : '' || ''}}시
        </div>
        <div *ngIf="format.hour24">
          {{survey.value !== survey.optionalText ?  survey.value?.substr(0,2) : '' || ''}}시
        </div>
        <div *ngIf="format.minute">
          {{survey.value !== survey.optionalText ?  survey.value?.substr(3,2) : '' || ''}}분
        </div>
        <!-- * datetime -->
        <ion-datetime no-padding item-content [displayFormat]="survey.format" [pickerFormat]="survey.format" name="date"
          cancelText="취소" doneText="확인" [(ngModel)]="survey.value" (ionChange)="setValue()"
          [minuteValues]="survey.minuteValues">
        </ion-datetime>
      </div>
    </ion-item>

    <!-- * optional options : 'true' -->
    <div class="survey-checkbox" *ngIf="survey.optional === 'true'">
      <ion-checkbox [id]="'datecheckbox'+survey.id" (ionChange)="setOptional()"
        [checked]="survey.value === survey.optionalText" [(ngModel)]="survey.checked">
      </ion-checkbox>
      <label for-id [for]="'datecheckbox'+survey.id" elemTag="button"
        [innerHTML]="survey.optionalText | safeHtml"></label>
    </div>
  </div>
</div>
