<ion-header>
  <ion-navbar>
    <ion-title>뇌기능 저하 및 회복 탄력성</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goRoot()">
        <img src="assets/icon/home_icon.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="content" *ngIf="!selectedContentFilter">

    <!-- 반복되는 컨텐츠 -->
    <div class="loop-content-wrapper" *ngFor="let content of contents[selectedContent]">
      
      <!-- Title -->
      <ion-list-header text-wrap>{{ content.title }}</ion-list-header>
    
      <!-- Subtitle -->
      <!-- 말풍선 타입 (질문)-->
      <ion-item class="subtitle bubble q" text-wrap *ngIf="content.subtitle_bubble_q">
        <div class="subtitle-img">
          <img src="assets/icon/firefighter_icon.svg">
        </div>
        <div class="bubble-arrow left"></div>
        <div class="subtitle-text">
          <p>{{ content.subtitle_bubble_q }}</p>
        </div>
      </ion-item>
      <!-- 박스 타입 -->
      <ion-item class="subtitle box" text-wrap *ngIf="content.subtitle_box">
        <p>{{ content.subtitle_box }}</p>
      </ion-item>
      <!-- 텍스트 타입 -->
      <ion-item class="subtitle text" text-wrap *ngIf="content.subtitle_text">
        <p>{{ content.subtitle_text }}</p>
      </ion-item>

      <!-- Content -->
      <ion-item class="content-img top" [ngClass]="content.img_top_size" *ngIf="content.img_top">
        <img [src]="'assets/imgs/part3/'+content.img_top">
        <div class="enlarge-icon" [ngClass]="content.img_enlarge" (click)="openEnlarge('assets/imgs/part3/'+content.img_top)">
          <img src="assets/icon/enlarge.svg">
        </div>
      </ion-item>
      <ion-item class="content-text" text-wrap> 
        <p [innerHTML]="content.content"></p>
      </ion-item>
      <ion-item class="content-img bottom" [ngClass]="content.img_bottom_size" *ngIf="content.img_bottom">
        <img [src]="'assets/imgs/part3/'+content.img_bottom">
        <div class="enlarge-icon" [ngClass]="content.img_enlarge" (click)="openEnlarge('assets/imgs/part3/'+content.img_bottom)">
          <img src="assets/icon/enlarge.svg">
        </div> 
      </ion-item>
      <ion-item class="content-add-text" text-wrap *ngIf="content.text_add">
        <p [innerHTML]="content.text_add"></p>
      </ion-item>
  
      <!-- Reference -->
      <ion-item class="reference" text-wrap *ngIf="content.reference">
        <p [innerHTML]="content.reference"></p>
      </ion-item>

    </div>

    <!-- 상태 체크 -->
    <ion-list class="check-question-wrapper" *ngIf="selectedContent == '2-1'">
      <ion-list-header text-wrap>2. 현재 나의 상태 체크</ion-list-header>
      <ion-item class="content-text" text-wrap> 
        <p>다음 중 선생님이 겪고 있는 어려움을 말씀해주세요. 도움이 될 수 있는 치료법을 안내해드립니다.</p>
      </ion-item>
      <ion-list class="check-question" *ngFor="let check of checkQuestion">
        <ion-item class="subtitle bubble q" text-wrap>
          <div class="subtitle-img">
            <img src="assets/icon/doctor_icon.svg">
          </div>
          <div class="bubble-arrow left"></div>
          <div class="subtitle-text">
            <p>{{ check.title }}</p>
          </div>
        </ion-item>
        <ion-item class="check-btn-wrapper">
          <input type="radio" name="statusCheck{{check.id}}" value="yes" [id]="check.id + 'y'" [(ngModel)]="check.value">
          <label name="statusCheck" [for]="check.id + 'y'">네</label>
          <input type="radio" name="statusCheck{{check.id}}" value="no" [id]="check.id + 'n'" [(ngModel)]="check.value">
          <label name="statusCheck" [for]="check.id + 'n'">아니오</label>
        </ion-item>
      </ion-list>
      <ion-item class="check-result-btn">
        <button ion-button full (click)="getResult()" color="primary" text-wrap>결과 보기</button> 
      </ion-item>
    </ion-list>

    <!-- Go List -->
    <ion-item class="go-list" *ngIf="selectedContent !== '2-1'">
      <button ion-button full class="go-list-btn" (click)="goList()">매뉴얼 목록으로 가기</button>
    </ion-item>

    <!-- Sub Content Btn -->
    <ion-list class="subbtn-wrapper" *ngIf="subcontent && selectedContent !== '2-1'"> 
      <ion-item class="subtitle box" text-wrap *ngIf="subcontent.subject">
        <p>{{ subcontent.subject }}</p> 
      </ion-item>
      <ion-item *ngFor="let subBtn of subcontent.subBtn" class="content-sub-btn" text-wrap>
        <button ion-button text-wrap color="lightblue"
          *ngIf="selectedContent !== subBtn.content"
          [navPush]="contentDetail" [navParams]="{content: subBtn.content}"> 
          {{ subBtn.title }}
        </button>
      </ion-item>
    </ion-list>

  </ion-list>

   <!-- 상태체크 후 컨텐츠 -->
  <ion-list class="content check-content-wrapper" *ngIf="selectedContentFilter"> 

    <div *ngFor="let selectedContent of selectedContentFilter; let i = index">
      <div *ngFor="let content of contents[selectedContent]">
        
        <!-- Title -->
        <ion-list-header text-wrap *ngIf="i === 0">{{ content.title }}</ion-list-header>
        
        <!-- Subtitle -->
        <!-- 박스 타입 -->
        <ion-item class="subtitle box" text-wrap *ngIf="(i+1)%3 === 1 && content.subtitle_box">
          <p>{{ content.subtitle_box }}</p>
        </ion-item>
        <!-- 말풍선 타입 (질문)-->
        <ion-item class="subtitle bubble q" text-wrap *ngIf="content.subtitle_bubble_q">
          <div class="subtitle-img">
            <img src="assets/icon/firefighter_icon.svg">
          </div>
          <div class="bubble-arrow left"></div>
          <div class="subtitle-text">
            <p>{{ content.subtitle_bubble_q }}</p>
          </div>
        </ion-item>
        <!-- 텍스트 타입 -->
        <ion-item class="subtitle text" text-wrap *ngIf="content.subtitle_text">
          <p>{{ content.subtitle_text }}</p>
        </ion-item>
    
        <!-- Content -->
        <ion-item class="content-img top" [ngClass]="content.img_top_size" *ngIf="content.img_top">
          <img [src]="'assets/imgs/part3/'+content.img_top">
          <div class="enlarge-icon" [ngClass]="content.img_enlarge" (click)="openEnlarge('assets/imgs/part3/'+content.img_top)">
            <img src="assets/icon/enlarge.svg">
          </div>
        </ion-item>
        <ion-item class="content-text" text-wrap> 
          <p [innerHTML]="content.content"></p>
        </ion-item>
        <ion-item class="content-img bottom" [ngClass]="content.img_bottom_size" *ngIf="content.img_bottom">
          <img [src]="'assets/imgs/part3/'+content.img_bottom">
          <div class="enlarge-icon" [ngClass]="content.img_enlarge" (click)="openEnlarge('assets/imgs/part3/'+content.img_bottom)">
            <img src="assets/icon/enlarge.svg">
          </div> 
        </ion-item>
        <ion-item class="content-add-text" text-wrap *ngIf="content.text_add">
          <p [innerHTML]="content.text_add"></p>
        </ion-item>
    
        <!-- Reference -->
        <ion-item class="reference" text-wrap *ngIf="content.reference">
          <p [innerHTML]="content.reference"></p>
        </ion-item>

      </div>
    </div>

    <ion-item class="more-btn">
      <button ion-button full color="primary" text-wrap [navPush]="contentDetail" [navParams]="{content: '4'}">더보기</button> <!-- 선택사항 이외의 내용 보기 -->
    </ion-item>
  
  </ion-list>
</ion-content> 
