page-pw-update {
    form {
        .info-list {
            padding: 0 8px !important;
            margin-bottom: 25px !important;
            ion-item {
                min-height: 42px !important;
                padding: 4px 0 !important;
                border-bottom: 1px solid color($colors, lightgray2) !important;
                ion-label {
                    color: color($colors, lightgray4);
                    font-size: 1.4rem !important;
                }
                ion-input {
                    font-size: 1.6rem !important;
                    input {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0
                    }
                }
                &.valid {
                    border-bottom: 1px solid color($colors, primary) !important;
                }
            }
            .noti {
                margin-top: 12px;
                font-size: 1.4rem;
                color: color($colors, gray3);
                &.error {
                    color: color($colors, danger)
                }
            }
        }
        .submit-btn {
            height: 50px;
            margin-bottom: 24px;
            font-size: 1.8rem;
            font-weight: 600;
            border-radius: 8px; 
            &:disabled {
                opacity: 0.7;
            }
        }
    }
}
