<ion-header>
  <ion-navbar color="white">
    <ion-title>비밀번호 변경</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formData" (ngSubmit)="setPassword()">

    <ion-list class="info-list">

      <ion-item [ngClass]="{'valid' : formData.controls.oldPassword.value.length}">
        <ion-label for-id for="oldPassword">현재 비밀번호</ion-label>
        <ion-input type="password" formControlName="oldPassword" name="oldPassword" id="oldPassword">
        </ion-input>
      </ion-item>

      <div class="noti error" *ngIf="formData.controls['oldPassword'].value.length && oldPasswordError">비밀번호가 일치하지 않습니다.</div>
      <div class="noti error" *ngIf="formData.controls['oldPassword'].value.length && formData.controls['oldPassword'].invalid">
        비밀번호 규칙을 확인해주세요.
      </div>

      <ion-item [ngClass]="{'valid' : formData.get('password').valid }">
        <ion-label for-id for="password">신규 비밀번호</ion-label>
        <ion-input type="password" formControlName="password" name="password" id="password"></ion-input>
      </ion-item>
      <div class="noti">영문, 숫자, 특수문자를 포함 8자리 이상 20자리</div>
      <div class="noti error" *ngIf="formData.controls['password'].value.length && formData.controls['password'].invalid">
        비밀번호 규칙을 확인해주세요.
      </div>

      <ion-item [ngClass]="{'valid' : formData.get('confirmPassword').valid }">
        <ion-label for-id for="confirmPassword">비밀번호 확인</ion-label>
        <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword">
        </ion-input>
      </ion-item>
      <div class="noti error" [hidden]="matchingPasswords()">비밀번호가 일치하지 않습니다.</div>

    </ion-list>
    <button ion-button block color="secondary" type="submit" class="submit-btn"
      [disabled]="formData.invalid || !matchingPasswords()">저장</button>
  </form>


</ion-content>
