<!-- * 단일 설문 / Range 선택 -->

<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <p class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></p>
    <p class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></p>
  </div>

  <!-- * Range List -->
  <ion-item no-lines no-padding>
    <ion-range no-padding [min]="survey.min" [max]="survey.max" [step]="survey.step" [snaps]="survey.snaps"
      [pin]="survey.pin" [(ngModel)]="survey.value" (ionChange)="setValue()">
      <span range-left>{{survey.min}}</span>
      <span range-right>{{survey.max}}</span>
    </ion-range>
  </ion-item>
</div>
