<ion-header>
  <ion-navbar>
    <ion-title>회원정보</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 

  <ion-list class="info-list">
    <ion-item text-wrap *ngIf="patient">
      <ion-label fixed>아이디(이메일)</ion-label>
      <div class="info-content" item-content [innerHTML]="patient?.email"></div>
    </ion-item>
    <ion-item text-wrap *ngIf="patient">
      <ion-label fixed>이름</ion-label>
      <div class="info-content" item-content [innerHTML]="patient?.fullName"></div>
    </ion-item>
    <ion-item text-wrap *ngIf="patient">
      <ion-label fixed>성별</ion-label>
      <div class="info-content" item-content [innerHTML]="patient?.gender === 'male'? '남자': '여자'"></div>
    </ion-item>
    <ion-item text-wrap *ngIf="patient">
      <ion-label fixed>생년월일</ion-label>
      <div class="info-content" item-content [innerHTML]="patient?.birthday | birthday"></div>
    </ion-item>
    <ion-item text-wrap *ngIf="patient">
      <ion-label fixed>휴대전화</ion-label>
      <div class="info-content" item-content [innerHTML]="( patient?.phone | phoneNum)"></div>
    </ion-item>
  </ion-list>

  <ion-list class="btn-wrapper">
    <ion-item>
      <button ion-button full color="secondary" class="update-btn" (click)="goInfoUpdate()">정보 수정</button>
    </ion-item>
    <ion-item>
      <button ion-button full color="lightgray3" class="update-btn"  [navPush]="pwUpdate" [navParams]="{target: 'pw', patient: patient}">비밀번호 변경</button>
    </ion-item>
    <ion-item>
      <button class="logout-btn" (click)="logout()">로그아웃</button>
    </ion-item>
  </ion-list>

  <button class="signout-btn" (click)="goSignout()">회원탈퇴</button>

</ion-content>
