page-info {
    ion-list {
        &.info-list {
            padding: 0 8px !important;
            margin-bottom: 25px;
            ion-item {
                height: 50px;
                pointer-events: none;
                border-bottom: 1px solid color($colors, lightgray2) !important;
                ion-label {
                    color: color($colors, lightgray4);
                    font-size: 1.4rem !important;
                }
                .info-content {
                    width: calc( 100% - 100px );
                    font-size: 1.6rem !important;
                }
            }
        }
        &.btn-wrapper {
            .update-btn {
                height: 50px;
                font-size: 1.8rem;
                font-weight: 700;
                border-radius: 8px; 
            }
            .logout-btn {
                margin: 24px auto 0;
                display: block;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 600;
                background: none;
            }
        }
    } 
    .signout-btn {
        margin: auto;
        display: block;
        position: absolute;
        bottom: 32px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.4rem !important;
        font-weight: 600;
        background: none;
        color: color($colors, lightgray4);
    }
}
