<ion-header>
  <ion-navbar hideBackButton color="white">
    <ion-buttons start>
      <button ion-button icon-only color="dark" (click)="cancelSignup()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>회원정보 수정</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="signup-content">

    <form [formGroup]="formData" (ngSubmit)="update()">

      <ion-list class="info-list">

        <ion-item>
          <ion-label fixed>아이디(이메일)</ion-label>
          <ion-input type="email" readonly [value]="patient.email"></ion-input>
        </ion-item>

        <ion-item [ngClass]="{'valid' : formData.get('fullName').valid }">
          <ion-label for-id for="updateName" fixed>이름</ion-label>
          <ion-input type="text" formControlName="fullName" id="updateName" name="fullName"></ion-input>
        </ion-item>

        <ion-item class="item-input item-gender" [ngClass]="{'valid': formData.get('gender').valid }">
          <ion-label fixed>성별</ion-label>
          <ion-buttons item-content>
            <button type="button" ion-button no-margin
              [ngClass]="{active:formData.get('gender').value === 'male'}" (click)="setGender('male')">남자</button>
            <button type="button" ion-button no-margin
              [ngClass]="{active:formData.get('gender').value === 'female'}" (click)="setGender('female')">여자</button>
          </ion-buttons>
        </ion-item>

        <ion-item class="item-input item-birth" [ngClass]="{'valid': formData.get('birthday').valid }">
          <ion-label fixed>생년월일</ion-label>
          <ion-row item-content>
            <ion-col>{{formData.controls['birthday'].value.substr(0,4)}}</ion-col>
            <ion-col>{{formData.controls['birthday'].value.substr(5,2)}}</ion-col>
            <ion-col>{{formData.controls['birthday'].value.substr(8,2)}}</ion-col>
          </ion-row>
          <ion-datetime item-content displayFormat="YYYYMMDD" pickerFormat="YYYYMMDD" formControlName="birthday"
            name="birthday" class="birth" cancelText="취소" doneText="확인">
          </ion-datetime>
        </ion-item>


        <div class="phone-wrapper" [ngClass]="{'valid': formData.get('phone1').valid && formData.get('phone2').valid &&
          formData.get('phone3').valid }">
          <ion-item class="item-phone-numbers">
            <ion-label fixed>휴대전화</ion-label>
            <ion-input type="tel" maxlength="3" formControlName="phone1" name="phone1" (keyup)="phoneNumberChanged()">
            </ion-input>
            <ion-input type="tel" maxlength="4" formControlName="phone2" name="phone2" (keyup)="phoneNumberChanged()">
            </ion-input>
            <ion-input type="tel" maxlength="4" formControlName="phone3" name="phone3" (keyup)="phoneNumberChanged()">
            </ion-input>
          </ion-item>
          <button ion-button type="button" color="lightgreen" 
            class="send-auth-btn" (click)="sendAuthNumber()"
            *ngIf="isChange && isAuthChange && formData.get('phone1').valid && formData.get('phone2').valid &&
          formData.get('phone3').valid" [disabled]="phoneAuth?.code">인증요청</button>
        </div>

        <ion-item class="auth-check-wrapper"
          *ngIf="isChange && isAuthChange && formData.get('phone1').valid && formData.get('phone2').valid && formData.get('phone3').valid">
          <ion-label for-id for="authNumberInput" fixed>인증번호</ion-label>
          <ion-input type="number" [disabled]="!phoneAuth || !phoneAuth?.code" name="authNumber" id="authNumberInput" #authNumberInput
            [(ngModel)]="authNumber" [ngModelOptions]="{standalone: true}"></ion-input>
          <button ion-button item-end color="lightgreen" type="button" [disabled]="!phoneAuth || !phoneAuth?.code"
            (click)="checkAuthNumber()">인증확인</button>
        </ion-item>
        
      </ion-list>

      <ion-list class="btn-wrapper">
        <ion-item>
          <button type="submit" ion-button full color="secondary" class="submit-btn" 
          [disabled]="formData.invalid || (isAuthChange && phoneAuth?.auth == false) || !isChange">정보 수정 완료</button>
        </ion-item>
      </ion-list>
    </form>
  </div>

</ion-content>
