page-info-update {
    .signup-content {
        form {
            .info-list {
                padding: 0 8px !important;
                margin-bottom: 25px;
                ion-item {
                    min-height: 42px !important;
                    padding: 4px 0 !important;
                    border-bottom: 1px solid color($colors, lightgray2) !important;
                    ion-label {
                        color: color($colors, lightgray4);
                        font-size: 1.4rem !important;
                    }
                    ion-input, ion-datetime {
                        font-size: 1.6rem !important;
                        input {
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0
                        }
                    }
                    &:first-child {
                        border-bottom: 1px solid color($colors, lightgray2) !important;
                    }
                    &.item-gender {
                        ion-buttons {
                            margin: 0;
                            button {
                                width: 72px;
                                height: 40px;
                                font-weight: 600;
                                background: color($colors, lightgray1);
                                &.active {
                                    background: color($colors, secondary);
                                }
                            }
                        }
                    }
                    &.item-birth {
                        padding-bottom: 0 !important;
                        ion-datetime {
                            position: absolute;
                            left: 60px;
                            width: calc(100% - 60px);
                            color: transparent;
                        }
                        ion-row {
                            width: 100%;
                            max-width: 230px;
                            ion-col {
                                height: 40px;
                                margin-right: 4px;
                                margin-bottom: 4px;
                                padding: 0 20px 0 12px;
                                position: relative;
                                line-height: 40px;
                                font-size: 1.6rem !important;
                                border-radius: 4px;
                                background: color($colors, lightgray1) !important;
                    
                                &::before {
                                    content: '';
                                    right: 7px;
                                    top: 50%;
                                    margin-top: -2px;
                                    position: absolute;
                                    width: 0;
                                    height: 0;
                                    border-top: 5px solid;
                                    border-right: 4px solid transparent;
                                    border-left: 4px solid transparent;
                                    color: #999;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                    &.item-phone-numbers {
                        border-bottom: none !important;
                        ion-input {
                            max-width: 65px;
                            position: relative;
                            border-radius: 4px;
                            background: color($colors, lightgray1);
                    
                            input.text-input {
                                margin: 0 !important;
                                width: 100%;
                                padding: 4px 8px;
                                height: 40px;
                                text-align: center;
                            }
                        }
                        ion-input[name='phone1'],
                        ion-input[name='phone2'] {
                            margin-right: 14px;
                            &::before {
                                position: absolute;
                                margin: auto;
                                content: '-';
                                right: -11px;
                                top: 0;
                                bottom: 0;
                                height: 1px;
                                line-height: 0;
                            }
                        }
                    }
                    &.valid {
                        border-bottom: 1px solid color($colors, primary) !important;
                    }
                }
                .phone-wrapper {
                    text-align: right;
                    border-bottom: 1px solid color($colors, lightgray2) !important;
                    .send-auth-btn {
                        height: 24px;
                        margin: 8px;
                        padding: 0 6.5px;
                        font-size: 1.3rem;
                        font-weight: 500;
                    }
                    &.valid {
                        border-bottom: 1px solid color($colors, primary) !important;
                    }
                }
            }
            .btn-wrapper {
                .submit-btn {
                    height: 50px;
                    margin-bottom: 24px;
                    font-size: 1.8rem;
                    font-weight: 700;
                    border-radius: 8px; 
                    &:disabled {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
