page-home {
    ion-list {
        width: 100%;
        height: 100%;
        margin-bottom: 0 !important;
        button {
            height: calc(15% - 8px) !important;
            margin-top: 8px !important;
            padding: 16px !important;
            font-size: 2rem !important;
            font-weight: 900;
            border-radius: 4px !important;
            text-align: left !important;
            .button-inner {
                padding: 8px 0;
                justify-content: flex-start !important;
            }
            &.main-btn {
                height: calc(40% - 8px) !important;
                font-size: 3.4rem !important;
                background-image: url('/assets/icon/main-btn.svg');
                background-repeat: no-repeat;
                background-position: bottom 16px right 16px;
                background-size: 107px;
                .button-inner {
                    display: block;
                }
                .noti-badge {
                    padding: 6px 8px 3px;
                    display: inline-block;
                    font-size: 1.2rem !important;
                    font-weight: 700 !important;
                    line-height: 1 !important;
                    color:  color($colors, danger) !important;
                    background: white;
                    border-radius: 11px;
                    letter-spacing: -0.5px;
                }
            }
            &.sub-btn-1 {
                background-image: url('/assets/icon/sub-btn-1.svg');
                background-repeat: no-repeat;
                background-position: center right 16px;
                background-size: 39.76px;
            }
            &.sub-btn-2 {
                background-image: url('/assets/icon/sub-btn-2.svg');
                background-repeat: no-repeat;
                background-position: center right 16px;
                background-size: 39.76px;
            }
            &.sub-btn-3 {
                background-image: url('/assets/icon/sub-btn-3.svg');
                background-repeat: no-repeat;
                background-position: center right 16px;
                background-size: 39.76px;
            }
        }
    }
}
