<ion-content padding>
  <ion-list ion-fixed padding>
    <button ion-button full (click)="goSurvey()" class="main-btn">
      건강체크<br>
      <p class="noti-badge" *ngIf="result == 2">진행예정 서베이가 있습니다.</p>
    </button> 
    <button ion-button full [navPush]="contentPart1" color="secondary" class="sub-btn-1">유해인자</button>
    <button ion-button full [navPush]="contentPart2" color="secondary" class="sub-btn-2">뇌기능 저하 및 회복 탄력성</button>
    <button ion-button full [navPush]="contentPart3" color="secondary" class="sub-btn-3">치료 및 예방</button>
    <button ion-button full [navPush]="settings" color="gray">설정</button>
  </ion-list> 
</ion-content>
