survey-radio2 {
    .survey-item-wrapper {
      border: 1px solid color($colors, lightgray4);
  
      .survey-item-header {
        display: grid;
        grid-template-columns: 1fr auto;
        min-height: 54px;
        border-bottom: 1px solid color($colors, lightgray4);
        >div {
          padding: 16px;
          height: 100%;
          display: flex;
          align-items: center;
        } 
        .active-title {
          font-size: 1.4rem;
          font-weight: 500;
        }
        .active-radio label {
          margin: 0 8px;
        }
      }
  
      .survey-item-body {
        padding: 8px 16px 0 16px;
  
        .list-title {
          font-size: 1.4rem;
          font-weight: 500;
        }
  
        .radio-buttons {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(28px, 1fr));
  
          .radio-item {
            padding: 0;
            height: 60px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
  
            ion-radio[data-number] {
              --number: attr(data-number);
  
              &::before {
                content: var(--number);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 999;
              }
  
              &[ng-reflect-checked="true"]::before {
                color: #FFF;
              }
            }
          }
        }
      }
  
    }
  
  }
  