<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <div class="survey-item-wrapper">

    <!-- * 설문 활성화 여부 확인 (서버에 저장되지 않음: survey.value) -->
    <div class="survey-item-header">
      <div class="active-title" *ngIf="survey.activeTitle" [innerHTML]="survey.activeTitle | safeHtml"></div>
      <div class="active-radio" radio-group [(ngModel)]="survey.active" (ionChange)="setValue()">
        <ion-radio mode="md" [id]="survey.id + '_1'" [value]="1"></ion-radio>
        <label for-id elemTag="button" [for]="survey.id+'_1'" [innerHTML]="survey.activeTrueText | safeHtml"></label>
        <ion-radio mode="md" [id]="survey.id + '_0'" [value]="0"></ion-radio>
        <label for-id elemTag="button" [for]="survey.id+'_0'" [innerHTML]="survey.activeFalseText | safeHtml"></label>
      </div>
    </div>

    <!-- * 설문 단일 선택 -->
    <div class="survey-item-body">
      <div class="list-title" *ngIf="survey.listTitle" [innerHTML]="survey.listTitle | safeHtml"></div>
      <div class="radio-buttons" radio-group [(ngModel)]="survey.value" [disabled]="!survey.active" (ionChange)="setValue()">
        <div class="radio-item" *ngFor="let item of survey.list">
          <ion-radio mode="md" [value]="item.id" [attr.data-number]="survey.radioType === 'number' ? item.id: ''"
            [id]="survey.id+'_'+item.id" [checked]="survey.value === item.id" [disabled]="!survey.active">
          </ion-radio>
        </div>
      </div>
    </div>
  </div>

</div>
