page-login {
    .login-grid {
        height: 100%;
        position: relative;
        .login-header {
            width: 100%;
            padding: 100px 0 32px;
            h1 {
                margin: 0;
                text-align: center;
                font-size: 2.4rem !important;
                font-weight: 800 !important;
            }
        }
        .login-form-wrapper {
            form {
                ion-list {
                    margin: 0;
                    padding: 0 8px;
                    ion-item {
                        margin-bottom: 16px;
                        .input-wrapper {
                            display: block;
                            ion-label {
                                margin-bottom: 6px !important;
                                padding: 0 8px;
                                font-size: 1.4rem !important;
                                color: color($colors, gray3);
                            }
                            ion-input {
                                border-bottom: 1px solid color($colors, lightgray3);
                                input {
                                    width: calc( 100% - 16px );
                                    margin: 11px 8px;
                                }
                            }
                        }
                        &.valid {
                            .input-wrapper ion-input {
                                border-bottom: 1px solid color($colors, primary);
                            }
                        }
                    }
                   .hidden-login-btn {
                        display: none;
                    }
                }   
            }
            .keep-login {
                padding: 4px 8px !important;
                justify-content: flex-end !important;
                ion-label {
                    width: 100px !important;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                }
            }
            .login-btn {
                padding: 24px 0 20px;
                button {
                    height: 50px;
                    font-size: 1.8rem;
                    font-weight: 700;
                    &:disabled {
                        opacity : 0.7;
                    }
                }
            }
            .account-buttons {
                button {
                    width: auto;
                    height: 20px !important;
                    padding: 4px 2px !important;
                    display: inline-block;
                    background: none;
                    font-size: 1.4rem;
                }
                .dot{ 
                    font-weight: 500;
                    line-height: 20px;
                    vertical-align: sub;
                }
            }
        }
        .login-footer {
            width: 100%;
            padding: 16px;
            position: fixed ;
            left: 0;
            bottom: 0;
            text-align: center;
            p {
                font-size: 1.2rem !important;
                font-weight: 400 !important;
            }
        }
    }
}
