<ion-content padding>
  <div class="login-grid">
    <div class="login-header">
      <h1>소방관 지킴이</h1> 
    </div>
    <div class="login-form-wrapper">
      <form [formGroup]="auth" (ngSubmit)="doLogin()" role="form"> 
        <ion-list>
          <ion-item [ngClass]="{ 'valid' : auth.get('email').valid }">
            <ion-label for-id for="loginEmail">아이디(이메일)</ion-label>
            <ion-input type="email" id="loginEmail" formControlName="email" #emailInput name="email">
            </ion-input>
          </ion-item>
          <ion-item [ngClass]="{ 'valid' : auth.get('password').valid }">
            <ion-label for-id for="password">비밀번호</ion-label>
            <ion-input type="password" #password id="password" formControlName="password" name="password">
            </ion-input>
          </ion-item>
          <button class="hidden-login-btn" type="submit"></button>
        </ion-list>
      </form>
      <ion-item class="keep-login">
        <ion-checkbox [checked]="keepLogin" [(ngModel)]="keepLogin"></ion-checkbox>
        <ion-label>로그인 상태 유지</ion-label>
      </ion-item>
      <div class="login-btn">
        <button ion-button block type="button" color="secondary" (click)="doLogin()" [disabled]="auth.invalid">로그인</button>
      </div>
      <ion-buttons class="account-buttons" text-center>
        <button ion-button [navPush]="findAccount" [navParams]="{'target': 'id'}">아이디 찾기</button>
        <span class="dot">∙</span>
        <button ion-button [navPush]="findAccount" [navParams]="{'target': 'pw'}">비밀번호 찾기</button>
        <span class="dot">∙</span>
        <button ion-button [navPush]="joinInfo">회원가입&nbsp;&nbsp;</button>
      </ion-buttons>
    </div> 
    <div class="login-footer" *ngIf="!keyboard.isOpen()">
      <p>소방관 건강관리 서비스는 ㈜아이쿱의 올튼 서비스와 함께 합니다.</p>
    </div>
  </div>
</ion-content>
