<div class="survey-wrapper">
  <!-- * 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <div class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></div>
    <div class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></div>
  </div>

  <!-- * 답변 리스트 -->
  <div class="list-wrapper">
    <div class="item-wrapper" *ngFor="let item of survey.list" [ngClass]="survey.cssClass">

      <div class="item-title-wrapper">
        <div class="title" *ngIf="item.title" [innerHTML]=" item.title | safeHtml"></div>
        <div class="sub-title" *ngIf="item.subTitle" [innerHTML]=" item.subTitle | safeHtml"></div>
        <div class="description" *ngIf="item.description" [innerHTML]=" item.description | safeHtml"></div>
      </div>

      <div class="answers" [ngClass]="item.cssClass">
        <div class="answer" *ngFor="let answer of item.list"
          [ngClass]="{'is-label': answer.label, 'is-last-label': answer.lastLabel}">
          <label *ngIf="answer.label" [innerHTML]="answer.label | safeHtml"></label>
          <ion-input no-margin placeholder="{{answer.placeholder || '입력해주세요.'}}" [(ngModel)]="answer.value"
            (ionChange)="setValue()">
          </ion-input>
          <label *ngIf="answer.lastLabel" [innerHTML]="answer.lastLabel | safeHtml"></label>
        </div>
      </div>
      <div class="note" *ngIf="item.note" [innerHTML]="item.note"></div>
    </div>
  </div>

</div>
