survey-input4 {
    .survey-wrapper .list-wrapper {
      margin-top: 8px;
      padding: 16px;
      border: 1px solid color($colors, lightgray3);
  
      .item-wrapper {
        &.grid {
          display: grid;
          grid-template-columns: 130px 1fr;
          grid-auto-rows: auto;
          gap: 0 16px;
        }
  
        .item-title-wrapper {
          display: flex;
          align-items: center;
  
          .title {
            font-size: 1.4rem;
          }
  
          .sub-title {
            padding: 4px 0;
            font-size: 1.2rem;
            color: color($colors, gray9);
          }
  
          .description {
            padding: 2px 0;
            font-size: 1rem;
            color: color($colors, gray9);
          }
        }
  
        .note {
          padding: 8px 0;
          font-size: 1rem;
          grid-column: 1/3;
        }
  
      }
    }
  
    .answers {
      &.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 0 44px;
        padding: 0;
  
        .answer:nth-child(2n) {
          position: relative;
  
          &::after {
            position: absolute;
            content: '/';
            top: 0;
            left: -24px;
            bottom: 0;
            margin: auto;
            height: 1.4rem;
            color: color($colors, gray9);
          }
        }
      }
  
      &.grid-4 {
        grid-template-columns: repeat(4, 1fr);
      }
  
      .answer.is-label {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
  
        label {
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
  
      .answer.is-last-label {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;
  
        label {
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
  
      .answer.is-label.is-last-label {
        grid-template-columns: auto 1fr auto;
      }
  
      ion-input {
        padding: 8px;
        height: 45px;
        line-height: calc(45px - 16px);
        border-bottom: 1px solid color($colors, lightgray3);
      }
    }
  }
  