page-settings {
    ion-list {
        ion-item {
            button {
                width: 100%;
                padding: 18px 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: inherit;
                font-size: 1.6rem;
                font-weight: 600;
                background: white;
                border-bottom: 1px solid color($colors, lightgray2);
                ion-icon {
                    color: color($colors, lightgray5);
                    font-size: 2.4rem;
                }
            }
        }
    }
}
