<ion-header>
  <ion-navbar>
    <ion-title>설정</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <button [navPush]="personalCode">
        개인 식별코드
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <button [navPush]="info">
        회원정보
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <button (click)="goLink('https://allteun.com/use-policy')">
        서비스 이용약관
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <button (click)="goLink('https://allteun.com/policy')">
        개인정보처리방침
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
