<ion-header>
  <ion-navbar>
    <ion-title>뇌기능 회복 매뉴얼</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goRoot()">
        <img src="assets/icon/home_icon.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="content-list">

    <!-- Title -->
    <ion-list-header>{{ contentList.subject }}</ion-list-header>
    
    <!-- Btn List -->
    <ion-item *ngFor="let btn of contentList.btn; let n = index">

      <!-- Main Btn -->
      <button ion-button full class="content-list-main-btn" 
        [ngClass]=" { 'btn-icon-left' : !btn.detail }" [disabled]="btn.detail"
        [navPush]="content" [navParams]="{content: btn.content}" color="secondary">
        <span class="btn-num">{{ n+1 }}.</span>
        <span class="btn-title">{{ btn.title }}</span>
        <ion-icon name="arrow-forward" *ngIf="!btn.detail"></ion-icon>
      </button>

      <!-- Sub Btn -->
      <ion-list class="content-detail-list" *ngIf="btn.detail">
        <ion-item text-wrap *ngFor="let detail of btn.detail; let i = index">
          <ion-item-divider *ngIf="detail.subject">{{ detail.subject }}</ion-item-divider>
          <button ion-button text-wrap class="content-list-sub-btn" color="lightblue"
            *ngFor="let subBtn of detail.subBtn" 
            [navPush]="content" [navParams]="{content: subBtn.content, subcontent: detail}">
            {{ subBtn.title }}
          </button>
        </ion-item>
      </ion-list>

    </ion-item>

  </ion-list>
</ion-content>

