
$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

//* Font *//

html, body, ion-content, ion-list-header, ion-item {
  font-family: "noto-sans", sans-serif;  
}

//* Color *//

$colors: (
  primary:#FFB789,
  secondary:#FFEDAF,
  lightorange: #FFD7BE,
  lightblue:#DDEDFF,
  lightgreen: #D5EFCD,
  danger:#FF1919,
  light:#f4f4f4,
  gray: #DEDEDE,
  dark:#222,

  yellow: #FFEDAF,
  orange: #FFB789,
  orange2: #FF6300,
  orange3: #FF9653,

  gray3: #333333,
  gray6: #666666,
  gray9: #999999,

  lightgray1: #F5F5F5,
  lightgray2: #E5E5E5,
  lightgray3: #DEDEDE,
  lightgray4: #A1A1A1,
  lightgray5: #B1B1B1,
);

//* ionic style Initialization *//

$list-ios-header-border-bottom: none;

ion-header {
  .toolbar-background-ios { 
    background: transparent !important; 
    border: none !important; 
  }
  .toolbar-title-ios {
    font-weight: 700 !important;
  }
}
ion-list-header {
  min-height: inherit !important;
  padding: 9px 0 16px !important;
  color: black !important;
}
ion-item-divider {
  min-height: inherit !important;
  padding: 0 !important;
  background: none !important;
}
ion-item {
  min-height: inherit !important;
  padding: 0 !important;
  border: none !important;
  color: black !important;
  .item-inner { 
    padding-right: 0 !important;
    border: none !important 
  }
}
ion-label {
  &.label-ios {
    margin: 0 !important;
  }
}
ion-checkbox.checkbox {
  margin: 0 12px 0 0 !important;
  .checkbox-icon {
      border-radius: 100% !important;
      border: none !important;
      background: color($colors, lightgray3);
      .checkbox-inner {
        width: 6px;
        height: 10px;
        left: 7px;
        top: 4px;
        position: absolute;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
        border-style: solid;
        border-color: #fff !important;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &.checkbox-checked {
        background: color($colors, primary);
      }
  }
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$checkbox-ios-icon-border-radius: 0;
$checkbox-ios-background-color-on: color($colors, orange3);
$checkbox-ios-icon-border-color-off: color($colors, gray9);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$radio-md-icon-border-width: 1px;
$radio-md-icon-width: 24px;
$radio-md-icon-height: 24px;
$radio-md-color-on: color($colors, orange3);
$radio-md-color-off: color($colors, gray9);


p {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  color: black !important;
}
a {
  color: black !important;
  font-size: 1.6rem;
}

//* Style Class *//

.text-center {
  text-align: center !important;
}