<ion-header>
  <ion-navbar>
    <ion-title>뇌기능 저하 및 회복 탄력성</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goRoot()">
        <img src="assets/icon/home_icon.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="content">

    <!-- 반복되는 컨텐츠 -->
    <div class="loop-content-wrapper" *ngFor="let content of contents[selectedContent]">

      <!-- Title -->
      <ion-list-header text-wrap>{{ content.title }}</ion-list-header>
  
      <!-- Subtitle -->
      <!-- 말풍선 타입 (질문)-->
      <ion-item class="subtitle bubble q" text-wrap *ngIf="content.subtitle_bubble_q">
        <div class="subtitle-img">
          <img src="assets/icon/firefighter_icon.svg">
        </div>
        <div class="bubble-arrow left"></div>
        <div class="subtitle-text">
          <p>{{ content.subtitle_bubble_q }}</p>
        </div>
      </ion-item>
      <!-- 말풍선 타입 (답변)-->
      <ion-item class="subtitle bubble a" text-wrap *ngIf="content.subtitle_bubble_a">
        <div class="subtitle-text">
          <p>{{ content.subtitle_bubble_a }}</p>
        </div>
        <div class="bubble-arrow right"></div>
        <div class="subtitle-img">
          <img src="assets/icon/doctor_icon.svg">
        </div>
      </ion-item>
      <!-- 박스 타입 -->
      <ion-item class="subtitle box" text-wrap *ngIf="content.subtitle_box">
        <p>{{ content.subtitle_box }}</p>
      </ion-item>
      <!-- 텍스트 타입 -->
      <ion-item class="subtitle text" text-wrap *ngIf="content.subtitle_text">
        <p>{{ content.subtitle_text }}</p>
      </ion-item>
  
      <!-- Content -->
      <ion-item class="content-img top" [ngClass]="content.img_top_size" *ngIf="content.img_top">
        <img [src]="'assets/imgs/part2/'+content.img_top">
        <div class="enlarge-icon" [ngClass]="content.img_enlarge" (click)="openEnlarge('assets/imgs/part2/'+content.img_top)">
          <img src="assets/icon/enlarge.svg">
        </div>
      </ion-item>
      <ion-item class="content-text-box" text-wrap *ngIf="content.text_box">
        <p [innerHTML]="content.text_box"></p>
      </ion-item>
      <ion-item class="content-text" text-wrap> 
        <p [innerHTML]="content.content"></p>
      </ion-item>
      <ion-item class="content-img bottom" [ngClass]="content.img_bottom_size" *ngIf="content.img_bottom">
        <img [src]="'assets/imgs/part2/'+content.img_bottom">
        <div class="enlarge-icon" [ngClass]="content.img_enlarge" (click)="openEnlarge('assets/imgs/part2/'+content.img_bottom)">
          <img src="assets/icon/enlarge.svg">
        </div>
      </ion-item>
      <ion-item class="content-add-text" text-wrap *ngIf="content.text_add">
        <p [innerHTML]="content.text_add"></p>
      </ion-item>
  
      <!-- Reference -->
      <ion-item class="reference" text-wrap *ngIf="content.reference">
        <p [innerHTML]="content.reference"></p>
      </ion-item>

    </div>

    <!-- Go List -->
    <ion-item class="go-list">
      <button ion-button full class="go-list-btn" (click)="goList()">매뉴얼 목록으로 가기</button>
    </ion-item>

    <!-- Sub Content Btn -->
    <ion-list class="subbtn-wrapper" *ngIf="subcontent">
      <ion-item class="subtitle box" text-wrap *ngIf="subcontent.subject">
        <p>{{ subcontent.subject }}</p> 
      </ion-item>
      <ion-item *ngFor="let subBtn of subcontent.subBtn" class="content-sub-btn" text-wrap>
        <button ion-button text-wrap color="lightblue"
          *ngIf="selectedContent !== subBtn.content"
          [navPush]="contentDetail" [navParams]="{content: subBtn.content, subcontent: subcontent}"> 
          {{ subBtn.title }}
        </button>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content> 
