page-join-info {
    ion-list {
        height: 100% !important;
        margin-bottom: 0 !important;
        position: relative;
        .join-info {
            padding: 66px 0 16px !important;
            text-align: center !important;
            h2 {
                margin: 0 0 40px !important;
                font-size: 2.4rem !important;
                font-weight: 700;
            }
            p {
                margin-bottom: 32px !important;
                font-size: 1.6rem !important;
                line-height: 1.5;
            }
        }
        .join-check {
            padding: 15px 17px !important;
            position: absolute !important;
            bottom: 68px !important; 
            align-items: flex-end;
            font-size: 1.6rem;
            font-weight: 500;
            border: 1px solid color($colors, lightgray4) !important;
            border-radius: 8px !important;
        }
        button {
            position: absolute !important;
            bottom: 0 !important; 
            height: 50px !important;
            border-radius: 8px !important; 
            font-size: 1.8rem !important;
            font-weight:700;
        }
    }
}
