<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="join-info">
      <h2>회원가입 안내 및 동의</h2>
      <p>소방공무원 건강관리 서비스는<br>㈜아이쿱의 올튼 서비스와 함께 합니다.<br>회원 가입 시 올튼 회원으로 가입되며,<br>소방공무원 건강관리 서비스 및 올튼 서비스<br>모두 이용 하실 수 있습니다.</p>
      <p>회원가입에 동의 하시겠습니까?</p>
    </ion-item>
    <ion-item class="join-check info">
      <ion-checkbox checked="false" [(ngModel)]="joinInfoCheck"></ion-checkbox>
      <ion-label>동의합니다.</ion-label>
    </ion-item>
    <button ion-button full color="secondary" (click)="goJoinPolicy()" [disabled]="!joinInfoCheck">회원가입</button>
  </ion-list>
</ion-content>
