<div class="survey-wrapper">

  <!-- 설문 질문 -->
  <div class="survey-title-wrapper">
    <label *ngIf="survey.title" [innerHTML]="survey.title | safeHtml"></label>
    <p class="sub-title" *ngIf="survey.subTitle" [innerHTML]="survey.subTitle | safeHtml"></p>
    <p class="description" *ngIf="survey.description" [innerHTML]="survey.description | safeHtml"></p>
  </div>

  <div *ngFor="let answer of survey.conditionList">
    <div class="survey-list" radio-group [(ngModel)]="answer.value" [ngClass]="answer.cssClass"
      (ionChange)="setConditions()">
      <label [innerHTML]="answer.title | safeHtml"></label>
      <label [innerHTML]="answer.description | safeHtml"></label>
      <div class="survey-item" *ngFor="let item of answer.list" [ngClass]="item.role">
        <ion-radio mode="md" [id]="answer.id+'_'+item.id" [checked]="answer.value === item.id" [value]="item.id">
        </ion-radio>
        <label for-id elemTag="button" [for]="answer.id+'_'+item.id" [innerHTML]="item.title | safeHtml"></label>
      </div>
    </div>
  </div>

  <div *ngIf="activation">
    <div class="pass-condition" *ngFor="let item of survey.group" [ngSwitch]="item.type">
      <survey-radio1 *ngSwitchCase="'radio1'" [survey]="item" (changeFn)="setValue($event)"></survey-radio1>
    </div>
  </div>

</div>
