survey-more4 {

  .survey-list {

    // 리스트 그리드 스타일
    &.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      gap: 0 6px;
    }

    &.grid-5 {
      grid-template-columns: repeat(5, 1fr);
    }

    &.grid-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    &.grid-7 {
      grid-template-columns: repeat(7, 1fr);
    }

    &.grid-8 {
      grid-template-columns: repeat(8, 1fr);
    }

    &.grid-10 {
      grid-template-columns: repeat(10, 1fr);
    }

    &.grid-11 {
      grid-template-columns: repeat(11, 1fr);
    }

    // 리스트 블록 스타일
    &.block {}

    .survey-item {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 28px;

      ion-radio {
        margin-right: 8px;

        &[data-number] {
          --number: attr(data-number);

          &::before {
            content: var(--number);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
          }
        }

        &[ng-reflect-checked="true"]::before {
          color: #FFF;
        }
      }

      label {
        margin: 0 !important;
        // line-height: 1 !important;
        font-weight: 400 !important;
      }

      ion-input {
        margin-left: 8px;
        border-bottom: 1px solid color($colors, lightgray3);
        padding: 0 8px;
      }

      &.etc {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }
  .pass-condition {
    .survey-wrapper {
      padding: 0 !important;
    }
  }
}
