
//* Header *//
ion-header {
    .bar-button-default-ios {
        color: #000;
    }
    .back-button-icon-ios {
        padding-left: 12px;
        font-size: 2.8rem;
    }
    .bar-buttons-ios .bar-button-ios {
        padding-right: 12px;
    }
}

//* Content Style *//

/* Content List */
ion-list.content-list {
    ion-list-header {
        font-size: 2rem;
        font-weight: 800;
    }
    ion-item {
        .content-list-main-btn {
            min-height: 50px;
            padding: 11px 16px 11px 26px !important;
            position: relative;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.5;
            white-space: normal !important;
            contain: inherit !important;
            text-align: left;
            .button-inner {
                align-items: flex-start;
                justify-content: flex-start;
                .btn-num {
                    margin-left: -15px;
                    margin-right: 8px;
                }
            }
            &.btn-icon-left {
                margin-bottom: 16px !important; 
                padding-right: 34px !important;
                ion-icon {
                    margin: auto;
                    display: table;
                    font-size: 2.8rem;
                    position: absolute;
                    right: 16px;
                    top: 0;
                    bottom: 0;
                }
            }
            &[disabled] {
                opacity: 1;
            }
        }
    }
}
ion-list.content-detail-list {
    ion-item {
        padding: 16px 8px 10px !important;
        border-bottom: 1px solid color($colors, gray) !important;
        ion-item-divider {
            margin-bottom: 10px !important;
            font-size: 1.6rem;
            font-weight: 700;
        }
        .content-list-sub-btn {
            margin: 6px 8px 6px 0 !important;
            padding: 8px 12px;
            text-align: left;
            font-size: 1.6rem;
            font-weight: 600 !important;
            line-height: 1.4 !important;
            border-radius: 20px !important;
        }   
    }
}

/* Contents */
ion-list {
    &.content {
        ion-list-header {
            padding-top: 0px !important;
            font-size: 2rem;
            font-weight: 800;
            letter-spacing: -0.3px;
        }
        ion-item {
            &.subtitle {
                margin-bottom: 16px;
                &.bubble {
                    ion-label {
                        display: flex;
                        align-items: center;
                    }
                    .subtitle-img {
                        width: 15%;
                        text-align: center;
                        img {
                            width: 90%;
                            vertical-align: middle;
                        }
                    }
                    .subtitle-text {
                        width: calc( 85% - 14px );
                        padding: 12px;
                        border-radius: 4px;
                        background: color($colors, lightorange);
                        p {
                            font-weight: 700 !important; 
                            line-height: 1.4;
                        }
                    }
                    .bubble-arrow {
                        &.left {
                            width: 0; 
                            height: 0; 
                            border-top: 9px solid transparent;
                            border-bottom: 9px solid transparent; 
                            border-right: 9px solid color($colors, lightorange);; 
                        }
                        &.right {
                            width: 0; 
                            height: 0; 
                            border-top: 9px solid transparent;
                            border-bottom: 9px solid transparent; 
                            border-left: 9px solid color($colors, lightorange);; 
                        }
                    }
                    &.q {
                        .subtitle-img {
                            margin-right: 9px;
                        }
                    }
                    &.a {
                        .subtitle-img {
                            margin-left: 9px;
                        }
                    }
                }
                &.box { 
                    height: 50px;
                    border-radius: 4px;
                    padding: 12px;
                    text-align: center;
                    background: color($colors, lightblue);
                    p {
                        font-weight: 700 !important;
                    }
                }
                &.text {
                    padding-left: 16px !important;
                    &:before {
                        content: '-';
                        margin-left: -16px;
                        margin-right: 8px;
                    }
                    p {
                        font-size: 1.6rem !important;
                        font-weight: 700 !important;
                    }
                }
            }
            &.content-img {
                margin: 0 auto;
                position: relative;
                img {
                    vertical-align: middle;
                }
                .enlarge-icon {
                    width: 44px;
                    height: 44px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: white;
                    background: #666666;
                    align-items: center;
                    justify-content: center;
                    display: none;
                    img {
                        width: 18px;
                    }
                }
                &.top {
                    margin-bottom: 16px;
                }
                &.bottom {
                    margin-top: 16px;
                }
                &.enlarge {
                    .enlarge-icon {
                        display: flex;
                    }
                }
                &.mid {
                    max-width: 50% !important;
                }
                &.small {
                    max-width: 30% !important;
                }
            }
            &.content-text-box {
                margin-bottom: 16px !important;
                padding: 8px 16px !important;
                background: color($colors, light);
                p {
                    font-weight: 600 !important;
                    line-height: 1.7;
                }
            }
            &.content-text {
                p {
                    line-height: 1.7;
                }
                table {
                    width: 100%;
                    tr {
                        border: 1px solid #333;
                        td, th {
                            font-size: 1.5rem;
                            line-height: 1.5;
                            border-right: 1px solid #333;
                            &:last-child {
                                border-right: none;
                            }
                        }
                        td {
                            padding: 8px 12px;
                        }
                        th {
                            min-width: 60px !important;
                            padding: 8px 10px;
                            background: color($colors, gray);
                        }
                        &:nth-child(odd) {
                            td {
                                // background: color($colors, light);
                            }
                        }
                    }
                }
            }
            &.content-add-text {
                margin-top: 16px;
                p {
                    line-height: 1.7;
                }
                .img-title {
                    display: block;
                    text-align: center;
                    font-weight: 600;
                }
                .img-ref {
                    margin-top: 8px;
                    display: block;
                    font-size: 1.3rem;
                    line-height: 1.4 !important;
                    color: #888;
                    a {
                        color: #888 !important;
                        font-size: 1.3rem;
                    }
                }
            }
            &.reference {
                margin: 16px 0;
                padding: 8px !important;
                background: color($colors, light);
                p {
                    font-size: 1.1rem !important;
                    font-weight: 400 !important;
                    line-height: 1.4;
                    sup {
                        top: -.5em; 
                    }
                }
                a {
                    font-size: 1.1rem !important;
                    font-weight: 400 !important;
                }
            }
            &.go-content {
                margin-bottom: 16px;
                .item-inner {
                    ion-col {
                        &:nth-child(odd) {
                            padding-right: 8px;
                        }
                        &:nth-child(even) {
                            padding-left: 8px;
                        }
                    }
                }
                .sub-content-title {
                    height: 50px;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 50px;
                    font-size: 1.6rem;
                    font-weight: 700 !important;
                    background: color($colors, lightgreen);
                }
                .sub-content-link-wrapper {
                    padding-left: 16px;
                    .sub-content-link {
                        margin-bottom: 8px;
                        line-height: 1.4;
                        list-style-type: none;
                        &:before {
                            content: '·';
                            margin-left: -10px;
                        }
                        span {
                          font-size: 1.6rem;
                          text-decoration: underline;
                        }
                    }
                }

            }
            &.go-list {
                button {
                    height: 50px !important;
                    font-size: 1.6rem;
                    font-weight: 700; 
                }
            }
        }
    }
    &.check-content-wrapper {
        ion-item {
            &.reference {
                margin: 16px 0 32px;
            }
            &.more-btn {
                text-align: center;
                button {
                    height: 50px !important;
                    font-size: 1.6rem;
                    font-weight: 700;
                }
            }
        }
    }
    &.subbtn-wrapper {
        margin-top: 16px;
        ion-item { 
            &.content-sub-btn {
                width: auto !important;
                display: inline-block;
                button {
                    margin: 6px 8px 6px 0 !important;
                    padding: 8px 12px !important;
                    text-align: left;
                    font-size: 1.6rem;
                    line-height: 1.4 !important;
                    border-radius: 20px !important;
                }
            }
        }
    }
    &.check-question-wrapper {
        margin-bottom: 16px !important;
        ion-list.check-question {
            margin: 24px 0 0;
            .subtitle.bubble.q {
                margin-bottom: 24px;
                .subtitle-img {
                    width: 20%;
                }
                .subtitle-text {
                    width: calc( 80% - 14px );
                    background: color($colors, lightblue);
                }
                .bubble-arrow {
                    border-right: 9px solid color($colors, lightblue) !important;
                }
            }
            .check-btn-wrapper {
                text-align: center;
                input {
                    display: none;
                }
                label {
                    width: 100px;
                    height: 40px;
                    margin: 0 12px;
                    padding: 8px;
                    display: inline-block;
                    text-align: center;
                    line-height: 28px;
                    border-radius: 20px;
                    background: color($colors, gray);
                    font-size: 1.6rem;
                    font-weight: 700;
                }
                input:checked + label {
                    background: color($colors, primary) !important;
                }
            }
        }
        ion-item.check-result-btn {
            margin-top: 40px !important;
            button {
                height: 50px !important;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }
}

/* Alert */
.alert,
.alert-ios,
.alert-md {
  .alert-wrapper {
    border-radius: 8px;
  }

  .alert-button-group {
    .alert-button {
      color: color($colors, gray3);

      &.cancel-btn {
        background: color($colors, lightgray3);
      }

      &.confirm-btn {
        background: color($colors, orange);
      }
    }
  }
}