<ion-content no-bounce>
  <div class="wrapper">
    <h2 class="title">완료되었습니다.</h2>
    <img src="assets/imgs/helmet.svg" role="img" alt="소방관 헬멧">
  </div>
</ion-content>
<ion-footer>
  <ion-buttons no-margin>
    <button ion-button full large no-margin color="orange" (click)="goHome()">
      <b>메인으로 돌아가기</b>
    </button>
  </ion-buttons>
</ion-footer>
