survey-input2 {

    .survey-item-wrapper {
      border: 1px solid color($colors, lightgray4);
  
      .survey-item-header {
        display: grid;
        grid-template-columns: 1fr auto;
        min-height: 54px;
        border-bottom: 1px solid color($colors, lightgray4);
  
        >div {
          padding: 16px;
          height: 100%;
          display: flex;
          align-items: center;
        }
  
        .active-title {
          font-size: 1.4rem;
          font-weight: 500;
        }
  
        .active-radio label {
          margin: 0 8px;
        }
      }
  
      .survey-item-body {
        padding: 16px;
  
        &.disabled {
          background: color($colors, lightgray1);
  
          .answer label {
            color: color($colors, gray6);
          }
        }
  
        .list-title {
          padding-bottom: 8px;
          font-size: 1.6rem;
          font-weight: 500;
        }
  
        .answers {
          &.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 0 8px;
          }
  
          .answer.is-label {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0 16px;
            label {
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              font-weight: 500;
              &.block {
                grid-column: 1/3;
                line-height: 45px;
              }
            }
          }
  
          .answer.is-last-label {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 0 16px;
            label {
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              font-weight: 500;
            }
          }
  
          .answer.is-label.is-last-label {
            grid-template-columns: auto 1fr auto;
          }
  
          ion-input {
            padding: 8px;
            height: 45px;
            line-height: calc(45px - 16px);
            border-bottom: 1px solid color($colors, lightgray3);
            &.block {
              padding-left: 0;
              padding-right: 0;
              grid-column: 1/3;
            }
          }
  
        }
  
      }
    }
  }
  