<ion-header>
  <ion-buttons end>
    <button ion-button icon-only (click)="dismiss()">
      <ion-icon ios="ios-close" md="md-close"></ion-icon>
    </button>
  </ion-buttons>
</ion-header>

<ion-content>
  <pinch-zoom>
    <img [src]="src">
  </pinch-zoom>
</ion-content>
