page-enlarge-modal {
    ion-header {    
        height: 44px !important;
        ion-buttons {
            height: 100%;
            .button-ios {
                height: 100% !important;
                background-color: transparent !important;
            }
        }
        ion-icon {
            font-size: 5rem !important;
            color: white;
        }
    }
    ion-content {
        display: flex !important;
        align-items: center !important;
        background: black !important;
        .scroll-content {
            margin-top: 0 !important;
            .pinch-zoom-content {
                height: 100%;
            }
        }
    }
}
