survey-more2 {

    .group-wrapper {
      border: 1px solid color($colors, lightgray3);
  
      .group-title {
        padding: 0 0 0 16px;
        height: 40px;
        font-size: 1.6rem;
        line-height: 40px;
        background: color($colors, lightgray3);
        display: flex;
        justify-content: space-between;
  
        button {
          max-height: 100%;
          border-radius: 0;
          color: color($colors, gray3);
          background: color($colors, orange);
        }
      }
  
      .group-survey {
        padding: 8px;
      }
    }
  
    .survey-list {
      .survey-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
  
        ion-radio {
          margin-right: 8px;
        }
  
        ion-input {
          margin-left: 8px;
          border-bottom: 1px solid color($colors, lightgray3);
          padding: 0 8px;
        }
  
        &.etc {
          grid-column-start: 1;
          grid-column-end: 4;
        }
      }
    }
  
    .add-btn {
      font-size: 1.6rem;
    }
  
    .button-info {
      font-size: 1.4rem;
    }
  }
  