<ion-header>
  <ion-navbar>
    <ion-title>이용약관 동의</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="policy-icon">
      <img src="assets/icon/policy-icon.svg">
    </ion-item>
    <ion-item class="join-check all">
      <ion-checkbox [(ngModel)]="all" (click)="validCheck('all')"></ion-checkbox>
      <ion-label>전체 동의</ion-label>
    </ion-item>
    <ion-item class="join-check use">
      <ion-checkbox [(ngModel)]="use" (ionChange)="validCheck('use')"></ion-checkbox>
      <ion-label>
        <span>서비스 이용약관 (필수)</span>
        <a (click)="goLink('https://allteun.com/use-policy')">보기</a>
      </ion-label>
    </ion-item>
    <ion-item class="join-check privacy">
      <ion-checkbox [(ngModel)]="privacy" (ionChange)="validCheck('privacy')"></ion-checkbox>
      <ion-label>
        <span>개인정보처리방침 (필수)</span>
        <a (click)="goLink('https://allteun.com/policy')">보기</a>
      </ion-label>
    </ion-item>
    <button ion-button full color="secondary" (click)="goEmailCert()" [disabled]="!all">확인</button>
  </ion-list>
</ion-content>
