<ion-header>
  <ion-navbar>
    <ion-title>회원가입</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="join-info">
      <h2>이메일 인증</h2>
      <p>이메일 주소로 회원가입 신청을 해주세요.</p>
    </ion-item>
    <div class="email-cert-form">
      <ion-item [ngClass]="{ 'valid' : invalidEmail() }">
        <ion-label for-id for="email" fixed>아이디(이메일)</ion-label>
        <ion-input type="email" id="email" [(ngModel)]="email" name="email" (ionChange)="initPage()"></ion-input>
      </ion-item>
      <div class="noti" *ngIf="sendEmailCert">인증번호가 발송되었습니다.</div>

      <button ion-button block class="cert-btn" (click)="sendCertEmail()"
        [disabled]="!invalidEmail() ||( sendEmailCert && !resendOk )">
        인증요청
      </button>

      <ion-item [ngClass]="{ 'valid' : invalidCert() }">
        <ion-label for-id for="cert" fixed>인증번호</ion-label>
        <ion-input type="tel" id="cert" #certInput [(ngModel)]="code" name="code" maxlength="4"
          [disabled]="!sendEmailCert" (ionChange)="differentCode=false"></ion-input>
      </ion-item>

      <div class="noti error" *ngIf="!expired && differentCode">인증번호가 일치하지 않습니다.</div>
      <div *ngIf="expired">
        <div class="noti error">재인증을 시도해주세요.</div>
        <ion-buttons>
          <button ion-button float-start small no-padding clear color="gray6">인증시간초과</button>
          <button ion-button float-end small no-padding clear color="gray6" class="underline" disabled>시간연장</button>
        </ion-buttons>
      </div>

      <!-- 인증메일 전송 & 타이머생성 & 만료되지않아야 보임 -->
      <ion-buttons *ngIf="sendEmailCert && timer && !expired">
        <button ion-button float-start disabled small no-padding clear color="gray6">(남은시간 {{timer}})</button>
        <button ion-button float-end small no-padding clear color="gray6" class="underline" (click)="addMinutes()"
          [disabled]="!addTimeCount">시간연장</button>
      </ion-buttons>

      <button ion-button block class="cert-btn" (click)="checkCert()" [disabled]="!invalidCert()">인증확인</button>
    </div>
  </ion-list>
</ion-content>

<ion-footer padding-left padding-right>
  <button ion-button block outline color="dark" class="cancel-btn" (click)="cancelSignup()">취소</button>
</ion-footer>
