page-email-cert {
  ion-list {
    position: relative;
    height: 100% !important;
    margin-bottom: 0 !important;

    .join-info {
      padding: 16px 16px 60px !important;
      text-align: center;

      h2 {
        margin: 0 0 32px !important;
        font-size: 2rem !important;
        font-weight: 600;
      }

      p {
        font-size: 1.6rem !important;
      }
    }

    .email-cert-form {
      margin-bottom: 32px !important;
      ion-item {
        min-height: 42px !important;
        margin-bottom: 16px;
        padding: 4px 0 !important;
        border-bottom: 1px solid color($colors, lightgray2) !important;

        ion-label {
          color: color($colors, lightgray4);
          font-size: 1.4rem !important;
        }

        ion-input {
          font-size: 1.6rem !important;

          input {
            width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }

        &.valid {
          border-bottom: 1px solid color($colors, primary) !important;
        }
      }

      .noti {
        font-size: 1.4rem;
        color: color($colors, gray3);

        &.error {
          margin-bottom: 16px;
          color: color($colors, danger)
        }
      }

      button {
        &.button-block {
          height: 50px !important;
          margin-top: 16px !important;
          border-radius: 8px !important;
          font-size: 1.8rem !important;
          font-weight: 700;
          background: color($colors, secondary);

          &:disabled {
            background: color($colors, lightgray3);
          }
        }

        &.button-small {
          height: 20px !important;
          margin: 0 !important;
          font-size: 1.4rem;
          color: color($colors, gray3);
          border-radius: 0 !important;

          &.underline {
            border-bottom: 1px solid color($colors, gray3);
          }
        }
      }

      ion-buttons {
        min-height: 20px !important;
      }
    }
  }

  .cancel-btn {
    background: white !important;
    bottom: 16px !important;
  }
}
