page-survey {

  .progress-bar-wrapper {
    display: flex;
    gap: 7px;

    .box {
      flex-grow: 1;
      height: 8px;
      background: color($colors, lightgray2);

      &.active {
        background: color($colors, orange);
      }
    }
  }

  .subject-wrapper {
    padding-bottom: 16px;

    &>div {
      padding: 8px 8px 7px;
    }

    .subject-title {
      font-size: 1.8rem;
      font-weight: 800 !important;
      border-radius: 4px;
      background: color($colors, yellow);
    }

    .subject-subtitle {
      margin-top: 16px;
      background: color($colors, lightgray1);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.4;
    }
    
    .subject-description {
      margin-top: 12px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  .page-wrapper {
    .page-title {
      margin: 8px auto 24px;
      font-size: 1.8rem;
      font-weight: 800;
    }
    .page-subtitle {
      margin: 16px 0;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .page-description {
      margin-bottom: 16px;
      padding: 0 8px;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
    }

    .survey-wrapper {
      margin-bottom: 20px;
      padding: 0 8px;

      .survey-title-wrapper {
        .sub-title {
          margin: 16px 0;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.5;
        }
        label {
          display: block;
          margin: 16px 0;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .description {
          margin-bottom: 16px;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
      }

      .survey-list {
        label {
          display: block;
          margin: 16px 0;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .survey-item {
          label {
            display: block;
            margin: 16px 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
      }


    }
  }

  ion-footer {
    button {
      height: 60px !important;
      border-radius: 0 !important;
    }
  }

}
