<ion-header>
  <ion-navbar [hideBackButton]="survey.id === 1">
    <ion-title>{{ survey.title }}</ion-title>
  </ion-navbar>
  <ion-toolbar color="white" padding>
    <div class="progress-bar-wrapper">
      <div class="box" *ngFor="let item of survey.subjects; let i = index;" [ngClass]="{'active': subject >= i }"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="subject-wrapper" *ngIf="subjects[this.subject] && this.page === 0">
    <div class="subject-title" *ngIf="subjects[this.subject].title"
      [innerHTML]="subjects[this.subject].title | safeHtml">
    </div>
    <div class="subject-subtitle" *ngIf="subjects[this.subject].subTitle"
      [innerHTML]="subjects[this.subject].subTitle | safeHtml">
    </div>
    <div class="subject-description" *ngIf="subjects[this.subject].description"
      [innerHTML]="subjects[this.subject].description | safeHtml">
    </div>
  </div>

  <div class="page-wrapper" *ngIf="subjects[this.subject]">

    <div class="page-title" *ngIf="subjects[this.subject].pages[page].title"
      [innerHTML]="subjects[this.subject].pages[page].title | safeHtml">
    </div>
    <div class="page-subtitle" *ngIf="subjects[this.subject].pages[page].subTitle"
      [innerHTML]="subjects[this.subject].pages[page].subTitle | safeHtml">
    </div>
    <div class="page-description" *ngIf="subjects[this.subject].pages[page].description"
      [innerHTML]="subjects[this.subject].pages[page].description | safeHtml">
    </div>

    <div *ngFor="let survey of subjects[this.subject]?.pages[page].surveys" [ngSwitch]="survey.type">

      <survey-date1 *ngSwitchCase="'date1'" [survey]="survey"></survey-date1>

      <survey-input1 *ngSwitchCase="'input1'" [survey]="survey"></survey-input1>

      <survey-input2 *ngSwitchCase="'input2'" [survey]="survey"></survey-input2>

      <survey-input3 *ngSwitchCase="'input3'" [survey]="survey"></survey-input3>

      <survey-input4 *ngSwitchCase="'input4'" [survey]="survey"></survey-input4>

      <survey-radio1 *ngSwitchCase="'radio1'" [survey]="survey"></survey-radio1>

      <survey-radio2 *ngSwitchCase="'radio2'" [survey]="survey"></survey-radio2>

      <survey-range1 *ngSwitchCase="'range1'" [survey]="survey"></survey-range1>

      <survey-check1 *ngSwitchCase="'check1'" [survey]="survey"></survey-check1>

      <survey-more1 *ngSwitchCase="'more1'" [survey]="survey"></survey-more1>

      <survey-more2 *ngSwitchCase="'more2'" [survey]="survey"></survey-more2>

      <survey-more3 *ngSwitchCase="'more3'" [survey]="survey"></survey-more3>

      <survey-more4 *ngSwitchCase="'more4'" [survey]="survey"></survey-more4>

      <survey-textarea1 *ngSwitchCase="'textarea1'" [survey]="survey"></survey-textarea1>

    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row padding *ngIf="!keyboard.isOpen()">
      <ion-col text-center>
        {{page +1}}/{{subjects[this.subject]?.pages.length}}
      </ion-col>
    </ion-row>
    <ion-row [hidden]="survey.id === 1 && this.subject === 0 && this.page === 0">
      <ion-col col-6 no-padding>
        <button ion-button no-margin large full color="lightgray3" (click)="prevStep()"><b>이전</b></button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button no-margin large full color="orange" (click)="nextStep()"><b>다음</b></button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="survey.id === 1 && this.subject === 0 && this.page === 0">
      <ion-col col-12 no-padding>
        <button ion-button no-margin large full color="orange" (click)="nextStep()"><b>다음</b></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
