<ion-header>
  <ion-navbar>
    <ion-title>회원탈퇴</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="signout-info" text-wrap>
      <h4>회원탈퇴 신청</h4>
      <p>아래의 내용을 확인하신 후 탈퇴 신청을 하시기 바랍니다.<br><br><b>내 정보 및 서비스 이용기록 삭제 안내</b><br>내 정보 및 서비스 이용기록이 모두 삭제 되며, 삭제된 데이터는 복구 되지 않습니다. 탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없으므로 다시 회원가입을 하여도 이전의 데이터를 연계 또는 복구할 수 없습니다.<br><br><b>기기 이용기록 보관 안내</b><br>휴대폰 번호, 이메일, 이름 등 개인 식별이 가능한정보는 삭제되며 이를 제외한 나머지 기기 사용 데이터(성별, 생년월일, 진료 콘텐츠, 기타 측정기기의데이터 등) 는 비식별 데이터로 처리하여 의료 통계및 연구, 교육용을 위해 암호화되어 보관됩니다.<br><br>탈퇴 후에는 [사용자 이메일]아이디의 데이터는 복구할 수 없습니다.</p>
    </ion-item>
    <ion-item class="signout-check">
      <ion-checkbox [(ngModel)]="checkSignoutInfo"></ion-checkbox>
      <ion-label>내용을 모두 확인하였습니다.</ion-label>
    </ion-item>
    <button ion-button full color="secondary" (click)="goSignout()" [disabled]="!checkSignoutInfo">탈퇴하기</button>
  </ion-list>
</ion-content>
