page-sign-out-info {
    ion-list {
        height: 100%; 
        margin-bottom: 0 !important;
        position: relative;
        .signout-info {
            h4 {
                margin-top: 0px !important;
                margin-bottom: 8px;
                font-size: 1.7rem;
                font-weight: 800;
            }
            p {
                font-size: 1.6rem;
                line-height: 1.4;
            }
        }
        .signout-check {
            padding: 15px 17px !important;
            font-size: 1.6rem;
            font-weight: 500;
            position: absolute !important;
            bottom: 68px !important; 
            align-items: flex-end;
            border: 1px solid color($colors, lightgray4) !important;
            border-radius: 8px !important;

        }
        button {
            position: absolute !important;
            bottom: 0 !important; 
            height: 50px !important;
            border-radius: 8px !important; 
            font-size: 1.8rem !important;
            font-weight: 600;
            &:disabled {
                opacity: 0.7 !important; 
            }
        }
    }
}
