<ion-header>
  <ion-navbar>
    <ion-title>회원가입</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formData" (ngSubmit)="signup()">

    <ion-list>
      <ion-item>
        <ion-label fixed>아이디(이메일)</ion-label> 
        <ion-input type="email" disabled formControlName="email" name="email"></ion-input>
      </ion-item>

      <ion-item
        [ngClass]="{'valid' : formData.get('password').valid, 'valid-red':formData.controls['password'].value.length
        && formData.controls['password'].invalid}">
        <ion-label for-id for="newPassword" fixed>비밀번호</ion-label>
        <ion-input type="password" id="newPassword" formControlName="password" name="password"></ion-input>
      </ion-item>
      <div class="noti error" *ngIf="formData.controls['password'].value.length && formData.controls['password'].invalid">
        비밀번호 규칙을 확인해주세요.
      </div>
      <div class="noti">영문, 숫자, 특수문자를 포함 8자리 이상 20자리</div>

      <ion-item [ngClass]="{'valid' : formData.get('confirmPassword').valid, 'valid-red':
      formData.controls['confirmPassword'].value.length && !matchingPasswords() }">
        <ion-label for-id for="confirmPassword" fixed>비밀번호 확인</ion-label>
        <ion-input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"></ion-input>
      </ion-item>
      <div class="noti error" [hidden]="matchingPasswords()">비밀번호가 일치하지 않습니다.</div>

      <ion-item [ngClass]="{'valid' : formData.get('fullName').valid }">
        <ion-label for-id for="fullName" fixed>이름</ion-label>
        <ion-input type="text" id="fullName" formControlName="fullName" name="fullName"></ion-input>
      </ion-item>

      <ion-item class="item-input item-birth" [ngClass]="{'valid': formData.get('birthday').valid }">
        <ion-label fixed>생년월일</ion-label>
        <ion-row item-content>
          <ion-col>{{formData.controls['birthday'].value.substr(0,4)}}</ion-col>
          <ion-col>{{formData.controls['birthday'].value.substr(5,2)}}</ion-col>
          <ion-col>{{formData.controls['birthday'].value.substr(8,2)}}</ion-col>
        </ion-row>

        <ion-datetime item-content displayFormat="YYYYMMDD" pickerFormat="YYYYMMDD" formControlName="birthday"
          name="birthday" class="birth" cancelText="취소" doneText="확인">
        </ion-datetime>

      </ion-item>

      <ion-item class="item-input item-gender" [ngClass]="{'valid': formData.get('gender').valid }">
        <ion-label fixed>성별</ion-label>
        <ion-buttons item-content>
          <button type="button" ion-button
            [ngClass]="{active:formData.get('gender').value === 'male'}" (click)="setGender('male')">남자</button>
          <button type="button" ion-button
            [ngClass]="{active:formData.get('gender').value === 'female'}" (click)="setGender('female')">여자</button>
        </ion-buttons>
      </ion-item>

      <ion-item class="item-phone-numbers" [ngClass]="{'valid': formData.get('phone1').valid && formData.get('phone2').valid &&
      formData.get('phone3').valid }">
        <ion-label for-id for="phone1" fixed>휴대전화</ion-label>
        <ion-input type="tel" maxlength="3" formControlName="phone1" name="phone1" id="phone1"></ion-input>
        <ion-input type="tel" maxlength="4" formControlName="phone2" name="phone2"></ion-input>
        <ion-input type="tel" maxlength="4" formControlName="phone3" name="phone3"></ion-input>
      </ion-item>
    </ion-list>
      
    <button type="submit" ion-button block color="secondary"
      [disabled]="formData.invalid || !matchingPasswords()">완료</button>
    <button type="button" class="cancel-btn" ion-button block outline color="dark" (click)="cancelSignup()">취소</button>
  </form>
</ion-content>
