page-join {
    form {
        height: 100% !important;
        margin-bottom: 0 !important;
        position: relative;
        ion-list {
            ion-item {
                min-height: 42px !important;
                margin-bottom: 16px;
                padding: 4px 0 !important;
                border-bottom: 1px solid color($colors, lightgray2) !important;
                ion-label {
                    color: color($colors, lightgray4);
                    font-size: 1.4rem !important;
                }
                ion-input, ion-datetime {
                    font-size: 1.6rem !important;
                    input {
                        width: 100% !important;
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }
                &.item-gender {
                    ion-buttons {
                        margin: 0 !important;
                        button {
                            width: 72px;
                            height: 40px;
                            margin: 0 0px 0 0px;
                            font-weight: 600;
                            background: color($colors, lightgray1);
                            &.active {
                                background: color($colors, secondary);
                            }
                        }
                    }
                }
                &.item-birth {
                    padding-bottom: 0 !important;
                    ion-datetime {
                        position: absolute;
                        left: 60px;
                        width: calc(100% - 60px);
                        color: transparent;
                    }
                    ion-row {
                        width: 100%;
                        max-width: 230px;
                        ion-col {
                            height: 40px;
                            margin-right: 4px;
                            margin-bottom: 4px;
                            padding: 0 20px 0 12px;
                            position: relative;
                            line-height: 40px;
                            font-size: 1.6rem !important;
                            border-radius: 4px;
                            background: color($colors, lightgray1) !important;
                            &::before {
                                content: '';
                                right: 7px;
                                top: 50%;
                                margin-top: -2px;
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-top: 5px solid;
                                border-right: 4px solid transparent;
                                border-left: 4px solid transparent;
                                color: #999;
                                pointer-events: none;
                            }
                        }
                    }
                }
                &.item-phone-numbers {
                    margin-bottom: 16px;
                    ion-input {
                        max-width: 65px;
                        position: relative;
                        border-radius: 4px;
                        background: color($colors, lightgray1);
                
                        input.text-input {
                            margin: 0 !important;
                            width: 100%;
                            padding: 4px 8px;
                            height: 40px;
                            text-align: center;
                        }
                    }
                    ion-input[name='phone1'],
                    ion-input[name='phone2'] {
                        margin-right: 14px;
                        &::before {
                            position: absolute;
                            margin: auto;
                            content: '-';
                            right: -11px;
                            top: 0;
                            bottom: 0;
                            height: 1px;
                            line-height: 0;
                        }
                    }
                }
                &.valid {
                    border-bottom: 1px solid color($colors, primary) !important;
                }
                &.valid-red {
                    border-bottom: 1px solid color($colors, danger) !important;
                }
            }
            .noti {
                margin-top: 12px;
                font-size: 1.4rem;
                color: color($colors, gray3);
                &.error {
                    color: color($colors, danger)
                }
            }
        }
        button {
            &.button-block {
                height: 50px !important;
                margin-top: 12px !important;
                // position: absolute !important;
                // bottom: 60px !important; 
                border-radius: 8px !important; 
                font-size: 1.8rem !important;
                font-weight: 700;
                &:disabled {
                    opacity: 0.7;
                }
                &.cancel-btn {
                    bottom: 0 !important; 
                    background: white !important;
                }
            }
        }
    }
    
}
