<ion-header>
  <ion-navbar color="white">
    <ion-title>회원탈퇴</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="signout()">
    <ion-list class="info-list">
      <ion-item>
        <p>회원탈퇴를 원하시면 비밀번호를 입력해 주세요.</p>
      </ion-item>
      <ion-item>
        <ion-label for-id for="curPassword">비밀번호</ion-label>
        <ion-input type="password" name="curPassword" id="curPassword" [(ngModel)]="password">
        </ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block color="secondary" type="submit" class="submit-btn" [disabled]="!password">탈퇴하기</button>
  </form>

</ion-content>
