page-sign-out {
    form {
        position: relative;
        min-height: 100%;
        .info-list {
            padding: 0 8px !important;
            margin-bottom: 25px;
            ion-item {
                min-height: 42px !important;
                padding: 4px 0 !important;
                border-bottom: 1px solid color($colors, lightgray2) !important;
                ion-label {
                    color: color($colors, lightgray4);
                    font-size: 1.4rem !important;
                }
                ion-input {
                    font-size: 1.6rem !important;
                    input {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0
                    }
                }
                p {
                    padding: 16px 0 !important;
                    text-align: center;
                }
                &:first-child {
                    border-bottom: none !important;
                }
            }
        }
        .submit-btn {
            height: 50px;
            margin-bottom: 24px;
            // position: absolute;
            // bottom: 0;
            font-size: 1.8rem;
            font-weight: 600;
            border-radius: 8px; 
            &:disabled {
                opacity: 0.7;
            }
        }
    }
}
