survey-more1 {
    .survey-list {
      .survey-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
    
        ion-radio {
          margin-right: 8px;
        }
    
        ion-input {
          margin-left: 8px;
          border-bottom: 1px solid color($colors, lightgray3);
          padding: 0 8px;
        }
    
        &.etc {
          grid-column-start: 1;
          grid-column-end: 4;
        }
      }
    }
}
    
