survey-input1 {

    .survey-wrapper {
      .answers {
  
  
        &.grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-auto-rows: auto;
          gap: 0 8px;
          padding: 0;
        }
  
        &.grid-2 {
          grid-template-columns: repeat(2, 1fr);
        }
  
        &.grid-4 {
          grid-template-columns: repeat(4, 1fr);
        }
  
  
        .answer.is-label {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 0 8px;
  
          label {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;
            min-width: 40px;
            &.block {
              grid-column: 1/3;
              line-height: 45px;
            }
          }
        }
  
        .answer.is-last-label {
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 0 8px;
  
          label {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;
          }
          .last-label {
            justify-content: flex-end;
          }
        }
  
        .answer.is-label.is-last-label {
          grid-template-columns: auto 1fr auto;
        }
  
        ion-input {
          padding: 8px;
          height: 45px;
          font-size: 1.6rem;
          line-height: calc(45px - 16px);
          border-bottom: 1px solid color($colors, lightgray3);
  
          &.block {
            padding-left: 0;
            padding-right: 0;
            grid-column: 1/3;
          }
        }
  
      }
    }
  
  }
  